<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Car Here</h1>
    <form class="" action="/addnewcar" method="post">
      <input type="text" name="make" placeholder="Make"><br>
      <input type="text" name="model" placeholder="Model"><br>
      <input type="text" name="year" placeholder="Year"><br>
      <input type="text" name="price" placeholder="Price"><br>
      <input type="text" name="odometer" placeholder="Odometer"><br>
      <input type="text" name="transmission" placeholder="Transmission"><br>
      <input type="text" name="doors" placeholder="MPG"><br>
      <input type="text" name="gas" placeholder="Gas (Premium)"><br>
      <input type="text" name="seats" placeholder="Seats"><br>
      <input type="text" name="url_img" placeholder="IMG URL"><br>
      <input type="text" name="city" placeholder="City"><br>
      <input type="text" name="state" placeholder="State"><br>
      <input type="text" name="description" placeholder="Description"><br>

      <button type="submit">Add Car</button>



    </form>
  </body>
</html>
