body{
  font-family: arial;
  font-size: 18px;
}

.nav-color {
  background-color: black;
}

.head-container {
  background: url('/assets/img/bg.png');
  background-size: cover;
  background-position-y: 85%;
  height: 600px;
  padding-top: 200px;
}

.hero-font {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-secondary-font {
  font-size: 24px;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.title-color {
  color: lime;
}

.title-weight {
  font-weight: bold;
}

.main-price {
  border: 2px solid white;
  border-top-left-radius: 10px;
  position: absolute;
  bottom: 35px;
  right: 0px;
  background-color: white;
}

.main .card {
  border: 0 solid white;
}

.main .card-body {
  padding: 1.25rem 0;
}

.main-total {
  font-size: 35px;
  font-weight: bold;
  padding-top: 5px;
}

.main-symbol {
  font-size: 16px;
}

.container-fluid {
  overflow: hidden;
}

.rental {
  padding-right: 0;
  padding-left: 0;
}

.login .form-control,
.signin .form-control,
.checkout .form-control,
.search .form-control {
  width: 250px;
  display: inline-block;
}

.insurance {
  background-color: white;
  width: 250px;
  border: 2px solid white;
  border-radius: 5px;
  margin: auto;
  margin-top: -30px;
}

.insurance img {
  width: 220px;
}

.image {
  border: 2px solid white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-top: -30px;
}


.vehicleinfo {
  display: inline-flex;
}

.vehicle_update {
  float: right;
}

.vehicle_edit {
  margin-left: 30px;

}

.reserve img {
  height: 84vh;
  width: 100vw;
}

.main-vehicle {
  margin-bottom: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.no-padding {
  padding: 0;
}

.price-color {
  background-color: lightgray;
}

#book,
#checkout {
  width: 250px;
}

/* Rent Vehicle Page */

.rent-hero {
  height: 75vh;
}

.rent {
  border: 2px solid white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  padding-top: 20px;
  margin-top: -60px;
}

#price{
  font-size: 60px;
}

.top-border {
  border-top: 1px solid lightgray;
  padding-top: 10px
}

.bottom-border {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.img-rent {
  margin-top: 0;
}

.rent-font-size {
  font-size: 14px;
}

.rent-title {
  font-size: 28px;
  font-weight: bold;
}
