.head-container {
  background: url('/assets/img/bg.png');
  background-size: cover;
  background-position-y: 85%;
  height: 600px;
  padding-top: 200px;
}

.container-fluid {
  /* padding-right: 0; */
  /* padding-left: 0; */
  overflow: hidden;
}

.login .form-control,
.signin .form-control,
.checkout .form-control,
.search .form-control {
  width: 250px;
  display: inline-block;
}

.insurance {
  background-color: white;
  width: 250px;
  border: 2px solid white;
  border-radius: 5px;
  margin: auto;
  margin-top: -30px;
}

.insurance img {
  width: 220px;
}

.image {
  border: 2px solid white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-top: -30px;
}

.vehicleinfo {
  display: inline-flex;
}

.vehicle_update {
  float: right;
}

.vehicle_edit {
  margin-left: 30px;

}

.reserve img {
  height: 90vh;
  width: 100vw;
}
